header{

    background-color: black;
}

.headerfont{
    
    color: white;
    
}

a {
    text-decoration: none;  /* Remove default underline */
  }
  
  a:hover {
    text-decoration: underline;
    color: white;  /* Make text white on hover */
  }

.image {
    display: flex;
    align-items: center;
}

.image img {

    margin-left: 150px;
    margin-right: 100px;
    border-radius: 20px;
}

.content {
    max-width: 600px;
}

footer
{
    background-color: black;
}
.footerfont{
    color: white;
}
