#sec1{
    background-color: black;
}
.header{
    color: white;
    
}

.image {
    display: flex;
    align-items: center;
}

.image img {

    margin-left: 150px;
    margin-right: 100px;
    border-radius: 20px;
}

.content {
    max-width: 600px;
}

#sec2
{
    background-color: black;
}
.footer{
    color: white;
}
